{% extends 'mainapp/base.html' %}

{% block content %}
<form action="/step1" method="POST"  enctype="multipart/form-data" class="row justify-content-md-center">
  {% csrf_token %}
    <div class="form-group row">
      <label for="name">Nombre:</label>
      <input type="text" name="nombre" class="form-control" id="name">
    </div>
    <div class="form-group row">
      <label for="rut">Rut:</label>
      <input type="text" name="rut" class="form-control" id="rut">
    </div>
    <div class="form-group row">
        <label for="formFile" class="form-label">Archivo</label>
        <input class="form-control" type="file" name="file" id="formFile">
      </div>
      <div class="form-group row">
        <label for="paginas" class="form-label">Páginas (separadas por coma, sin espacios)</label>
        <input class="form-control" type="text" name="paginas" id="paginas" value="13,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64">
      </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form> 
  {% endblock %}