# Web server
django
# PotsgreSQL connector
psycopg2-binary

# Math library
numpy 

# Face detection
insightface 
onnxruntime

# I/O utility
pathlib

# Image processing
Pillow 
opencv-python-headless


# PDF processing
PyMuPDF
xhtml2pdf

# Requirements for Django
pytz
tzdata
